{% load static %}
<!doctype html>
<html lang="en">
<head>
    <title>Getting Data</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container my-5 py-5">
    {% for message in messages %}
        <div class="alert alert-{{ message.type }} alert-dismissible fade show" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                 class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0
                      .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
            </svg>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <strong class="ml-3">{{ message.title }}</strong> {{ message.body }}
        </div>
    {% endfor %}
    <div class="row d-flex justify-content-center">
        <aside class="col-lg-5">
            <div class="card">
                <article class="card-body">
                    <h3 class="card-title text-center mb-4 mt-1">Getting Data</h3>
                    <hr>
                    <h4 class="text-success text-center mb-4">Welcome !</h4>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group mx-5">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> D : <i class="fa fa-user"></i></span>
                                </div>
                                <input name="d_value" class="form-control" placeholder="Enter {D} Value Here"
                                       type="number" step="0.0000001">
                            </div>
                        </div>
                        <div class="custom-file">
                            <label class="custom-file-label mx-5" for="validatedCustomFile">Input {θ} Text File </label>
                            <input name="teta_HO" type="file" class="custom-file-input" id="validatedCustomFile" accept=".txt">
                        </div>
                        <div class="form-group d-flex justify-content-between mt-3">
                            <button type="submit" class="btn btn-secondary btn-lg mt-4" name="SPR">Show Previous
                                Results
                            </button>
                            <button type="submit" class="btn btn-primary btn-lg mt-4" name="OK">Ok</button>
                        </div>
                        <p class="text-center mb-3">
                    </form>
                </article>
            </div>

        </aside>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>